<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% include 'base.html' %}
        {% block content %} 
                
        <!--Register--> 
        <div class="container py-5">
            <h1>Register</h1>
            <form action = "" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <p>{{ field.label }}: <br> {{ field }}</p> 
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endfor %}                   
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
            <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
        </div>
        
        {% endblock %}
    </body>
</html>